# ignore note_labs folder
note_labs/

# ignore Stock_History folder
Stock_History/

# ignore any .csv files
*.csv

# ignore any .pyc files
*.pyc

# ignore any .pyo files
*.pyo

# ignore jff.py file
usage.ipynb

#iignore testing.ipynb
testing.ipynb